html {
  background-color: #555555;
}

body {
  font-family: 'Poiret One', cursive;
  background-image: url('../img/gd-oregon.jpg');
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  overflow-y: auto;
  height:100%;
  width:100%; 
}

.navbar {
  position: fixed;
  width: 100%;
  font-weight: bold;
  z-index: 1337;
}

.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}

.logo-container {
  position: absolute;
  top: 85%;
  height: 15%;
  width: 100%;
}
.gd-logo {
  float: right;
  height: 100%;
}

.container {
  position: absolute;
  top: 100%;
  width: 100%;
  background-image: url("../img/texture.jpg");
  box-shadow: 0px  90px 100px 100px #000000;
}

.jumbotron {
  background-color:rgba(0, 0, 0, 0.0);
}

.jumbotron > h1 {
  padding-top: 10px;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
}

.info-paragraph {
  font-size: 15pt;
  padding: 0px 15px;
  text-indent: 25px;
}

.project-block {
  padding-bottom: 36px;
}

.project-img {
  border: 1px solid #333;
}

.link-section {
  padding: 0px 40px;
  font-size: 16pt;
  font-weight: bold;
  margin: auto;
}